.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid grey;
  border-radius: 0.25rem;
  display: flex;
  box-sizing: border-box;
}

.container + .container {
  margin-top: 0.1rem;
}

.basic {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.buttons {
  padding: 0.3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: lightcoral;
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.25);
}

.button+.button {
  margin-left: 0.25rem;
}

.title {
  border: 1px solid grey;
}

.title:disabled {
  background-color: transparent;
  border: 1px solid grey;
}

.done {
  cursor: pointer;
}

.focused {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}

.description>textarea {
  resize: none;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-top: 1px solid lightgrey;
}