.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--font-color);
  border-radius: 0.25rem;
  display: flex;
  box-sizing: border-box;
}

.container + .container {
  margin-top: 0.25rem;
}

.basic {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.id {
  width: 0.5rem;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}

.buttons {
  padding: 0 0.1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: var(--detail-color);
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.25);
}

.button+.button {
  margin-left: 0.25rem;
}

.title {
  border: 1px solid black;
  font-weight: 600;
  padding: 0.2rem;
}

.title:disabled {
  background-color: rgba(224, 224, 224, 0.39);
}

.done {
  cursor: pointer;
  outline: 2px solid red;
}

.done:checked {
  outline: 2px solid green;
}

.focused {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  animation: fade-in 100ms ease-in-out;
}

.description>p {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0.5rem;
}

.description>textarea {
  resize: none;
  font-weight: 600;
  padding: 0.2rem;
  border: 1px solid black;
}

.description>textarea:disabled {
  background-color: rgba(224, 224, 224, 0.39);
}

.hidden {
  display: none;
}

@keyframes fade-in {
  0% { opacity: 0; height: 0; }
  100% { opacity: 1; height: 100%; }
}
