.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(179, 179, 179, 0.288);
  z-index: 9;
}

.form {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
}