.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  height: 95%;
}

.titles {
  width: 100%;
  display: grid;
  grid-template-columns: auto 47% auto 27%;
  padding: 0 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  margin-bottom: 0.25rem;
}

.title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.todos {
  padding: 0.25rem 0.75rem;
  overflow-y: scroll;
  height: 100%;
}

.todos::-webkit-scrollbar {
  background-color: var(--bg-color);
  border-radius: 1rem;
  width: 0.4rem;
}

.todos::-webkit-scrollbar-thumb {
  background-color: var(--detail-color);
  border-radius: 1rem;
}